html, body {
    background-color: #faa307;
    font-family: 'Share Tech Mono', monospace;
    transition: 1s background-color;
}
h1 {
    text-align: center;
    color: #007bff;
}
#searchForm {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}
input {
    height: 50px;
    width: 200px;
    font-size: 1rem;
    border: 1px solid #007bff;
    color: #007bff;
    margin: 1px;
}
button {
    font-weight: bold;
    margin: 1px;
}
#container {
    max-height: 100%;
}